<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %} Home | TodoList{% endblock %}</title>

  {% block stylesheets %} {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <!-- Bootstrap core CSS -->
  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/css/sticky-footer-navbar.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">


  <!-- Custom styles for this template -->
</head>

<body>

  <header class="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">ToDoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Explore </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Service </a>
            </li>
          </ul>
          <a class="nav-link" href="/todos">Try it</a>
          <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    {% block body %} {% endblock %}
  </main>

  <!-- <footer class="footer">
    <div class="container">
      <span class="text-muted">© 2018 Catatam. All rights reserved.</span>
    </div>
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/js/vendor/popper.min.js') }}"></script>

  {% block javascripts %} {% endblock %}
</body>

</html>