{% extends 'base.html.twig' %} {% block body %}
<br>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link text-info active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
            aria-selected="true">
            <i class="fa fa-fw  fa-get-pocket"></i>Active</a>
        <a class="nav-item nav-link text-success" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
            aria-selected="false">
            <i class="fa fa-fw fa-check"></i>Done</a>
        <a class="nav-item nav-link text-warning" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
            aria-selected="false">
            <i class="fa fa-fw fa-archive"></i>Archive</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>

        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btnAdd btn btn-primary">
                <i class="fa fa-fw fa-pencil"></i> Add
            </button>
        </div>

        <div class="my-3 bg-white rounded box-shadow">
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Due Date</th>
                            <th style="width: 40px">Priority</th>
                            <th>Action</th>
                        </tr>
                        {% for todo in todos %}
                        <tr>
                            <td>{{ todo is defined ? todo.id : '' }}.</td>
                            <td>{{ todo is defined ? todo.name : '' }}</td>
                            <td>
                                {{ todo is defined ? todo.dueDate | date('F j, Y, g:i a') : '' }}
                            </td>
                            <td>
                                <span class="badge {{ todo is defined ? (todo.priority == 'hight' ? 'badge-danger' : (todo.priority == 'medium' ? 'badge-warning' : 'badge-light') ) : '' }}">{{ todo is defined ? todo.priority : '' }}</span>
                            </td>
                            <td>
                                <a href="#"><i class="fa fa-fw fa-trash text-danger"></i></a>
                                <a href="javascript:void(0);" class="btnEdit" data-id="{{ todo is defined ? todo.id : '' }}"><i class="fa fa-fw fa-pencil text-info"></i></a>
                                <a href="#"><i class="fa fa-fw fa-archive text-warning"></i></a>
                                <a href="#"><i class="fa fa-fw fa-check text-success"></i></a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <br>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>

<div id="popForm">

</div>

{% endblock %} {% block javascripts %}

<script language="javascript">
    $(".btnAdd").click(function () {
        $.get("/todo/add", function (content, status) {
            $("#popForm").html(content);
            $("#myModal").modal('show');
            $(".modal-content").append('<div class="modal-footer">' +
                '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
                '<button type="submit" onclick="addTodo()" class="btn btn-primary">Save</button>' +
                '</div>')
        })

    });

    $(".btnEdit").click(function () {
        $.get("/todo/edit/"+$(this).data('id'), function (content, status) {
            $("#popForm").html(content);
            $("#myModal").modal('show');
            $(".modal-content").append('<div class="modal-footer">' +
                '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
                '<button type="submit" onclick="editTodo()" class="btn btn-primary">Save</button>' +
                '</div>')
        })
    })

    function addTodo() {
        $(this).submit(function(){
            $.post("/todo/act", $('#myform').serialize(), function (data, status) {
                if (status == 'success') {
                    $("#myModal").modal('hide')
                    location.reload();
                } else {
                    console.log("Gagal")
                }

            })
        })
    }

    
</script>

{% endblock %}